---
layout: default
title: Pete Lada
---

{% for post in site.posts %}
<div class="post-container">
	<div class="meta">
		<div class="post-icon"></div>
		<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
	</div>
	<div class="post">
		<h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>

		{% if post.slug %}
			{{ post.slug }}
		{% else %}
			{{ post.excerpt }}
		{% endif %}
	</div>
	<div class="post-actions">
		{% if post.has_excerpt %}<a href="{{site.baseurl}}{{post.url}}#post" class="button">Continue Reading</a>{% endif %}
		<a href="http://twitter.com/share?text={{post.title}}&url=http://{{site.domain}}{{post.url}}" class="button button-weak"><i class="fa fa-twitter"></i> Share on Twitter</a>
	</div>

</div> <!-- / .post-container -->
{% endfor %}