---
layout: default
title: Pete Lada
---

<div class="post-spinner">
	<div class="spn">
    <div class="spn_spinner">
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
    </div>
  </div>
</div>

{% for post in paginator.posts %}
<div class="post-container" data-post-id="{{ post.id }}">

	<div class="meta">
		<div class="post-icon"></div>
		<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
	</div>
	<div class="post">
		<h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
		{% if post.tags %}
		<div class="tags">
			{% for tag in post.tags %}
			<div class="tags_tag">#{{ tag }}</div>
			{% endfor %}
		</div>
		{% endif %}
		{{ post.excerpt }}
	</div>
	<div class="post-actions">
		{% if post.has_excerpt %}<a href="{{site.baseurl}}{{post.url}}#post" class="button">Continue Reading</a>{% endif %}

		{% for button in post.custom_buttons %}
			<a href="{{button.url}}" class="button {{button.class}}">
				{% if button.fa %}
					<i class="fa fa-{{button.fa}}"></i>
				{% endif %}
				{{button.title}}
			</a>
		{% endfor %}

		{% if post.custom-button-url %}
		<a href="{{post.custom-button-url}}" class="button {{post.custom-button-class}}"><i class="fa fa-cloud-download"></i> {{post.custom-button-title}}</a>
		{% endif %}
		<a href="http://twitter.com/share?text={{post.title}}&url=http://{{site.domain}}{{post.url}}" class="button button-weak"><i class="fa fa-twitter"></i> Share on Twitter</a>
	</div>

</div> <!-- / .post-container -->
{% endfor %}

<!-- Pagination links -->
<div class="pag">
	<div class="l-table-row">
		<div class="l-table-cell l-quarter">
		  {% if paginator.previous_page %}
		    <a href="{{ paginator.previous_page_path }}" class="button">Previous</a>
		  {% else %}
		    <span class="button button-disabled">Previous</span>
		  {% endif %}
		</div>
		<div class="l-table-cell pag_number l-half">
			<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		</div>
		<div class="l-table-cell l-quarter text-align-right">
			{% if paginator.next_page %}
		    <a href="{{ paginator.next_page_path }}" class="button">Next</a>
		  {% else %}
		    <span class="button button-disabled ">Next</span>
		  {% endif %}
		</div>
	</div>
</div>
