

$whitney: 'Whitney SSm A', 'Whitney SSm B', WhitnBoo, ProximaNova-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
//$whitney: ProximaNova-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;

*{
	font-family:$whitney;
	-webkit-font-smoothing: antialiased;
}