
.l-table-cell {
  display: table-cell;
}

.l-table {
  display: table;
}

.l-table-row {
  display: table-row;
}

.l-full-width {
  width: 100%;
  min-width: 100%;
}

.l-quarter {
  width: 25%;
}

.l-half {
  width: 50%;
}
