// variables


$bgd: #FBFAF3;
$base: #89887A;
$base-link-color: #89887A;

$black: #2B2D21;
$white: #FBFAF3;

$faint-gray: #dfe0dc;
$light-gray: #bbbcb5;
$gray: #707267;


$base-margin-vertical:rhythm(1);
$large-margin-vertical:rhythm(2);
$base-padding:40px;
$base-border-radius:3px;

$base-mobile-padding:20px;


$break-small: 600px;
$break-large: 1200px;