
$card-bgd: $color-bgd;

.card {
  background: $card-bgd;
  border: 1px solid $color-border;
  border-radius: $base-corner-radius;
  box-shadow: 0 2px 6px rgba(0,0,0,.09);

  padding: $base-v-padding $base-h-padding;
}

.card__title {
  margin-top: 0;
  @include type-setting(1);
}

.card__content {
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  height: 100%;
}

.card__description {
  max-height: $base-line-height * 5;
  overflow: hidden;

  .media {
    display: none;
  }

  .img {
    @extend .img--condensed;
  }
}

.card__image {
  margin-top: $base-line-height;
  @include has-inner-border($border-radius: $base-corner-radius/2);

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: $base-corner-radius / 2;
  }
}

.card__item {
  @include flex(1);
  margin-bottom: $base-line-height;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__chiclet {
  margin-bottom: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: .5;

  .card:hover & {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    opacity: 1;
  }
}

.card__main {
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $base-line-height;
    content: "";
    pointer-events: none;
    @include linear-gradient(to top, $card-bgd, transparentize($card-bgd, 1), $fallback: transparent);
  }
}

.card__footer {
  @include flex(initial);
  margin-left: -1 * $base-h-padding;
  margin-right: -1 * $base-h-padding;
  margin-bottom: -1 * $base-v-padding !important;
  padding: $base-v-padding $base-h-padding;
  border-top: 1px solid transparentize($color-border, .5);
  border-radius: 0 0 $base-corner-radius $base-corner-radius;
  //background: darken($card-bgd, 3%);
}

.card--has-image {
  .card__main {
    &:before {
      display: none;
    }
  }
}

.card--full-height {
  height: 100%;
}
