

.chiclet {
  @include transition-property(opacity filter);
  @include transition-duration($duration-med);
  @include transition-timing-function(ease);
  @include type-setting(-1);
  font-family: $gotham;
  text-transform: uppercase;

  vertical-align: middle;

  display: inline-block;
  height: $base-line-height;
  line-height: $base-line-height;
  background: $color-text;
  color: $color-bgd;

  padding: 0 rem(5);

  border-radius: 2px;
}

.chiclet--post {
  background: $color-post;
}

.chiclet--dribbble {
  background: $color-dribbble;
}

.chiclet--muted {
  background: $light-gray;
}
