

.media {
  margin-top: $base-v-margin * 2;
  margin-bottom: $base-v-margin * 2;
  padding-top: $base-v-padding * 2;
  padding-bottom: $base-v-padding * 2;
  position: relative;
  text-align: center;

  &:before {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200vw;
    margin-left: -1 * 100vw;
    background: $color-faint-bgd;
    border-top: 1px solid rgba(0,0,0,.04);
    border-bottom: 1px solid rgba(0,0,0,.04);
    content: "";
  }
}

.media__caption {
  @include type-setting(0);
  color: $color-subtext;
  margin-top: $base-v-margin;
  position: relative;
  z-index: 1;
  font-style: italic;
}

.media__iframe,
.media__image {
  position: relative;
  z-index: 1;
}
