
.post {
}

.post__title {
  @include type-setting(3);
  margin: 0 7rem $base-line-height*2 0;
  color: $color-headline;
}

.post__tags {
  display: none;
}

.post__date {
  font-family: $gotham;
  @include type-setting(-1);
  text-transform: uppercase;
  color: $color-subtext;
  display: inline-block;
  margin-bottom: 0;
}

.post__chiclet {
  margin: 0;
  margin-right: rem(15);
  position: relative;

  &:after {
    position: absolute;
    right: rem(-10);
    height: 100%;
    top: 0;
    width: 1px;
    background: $color-border;
    content: "";
  }
}

.post__meta {
  margin-bottom: $base-line-height;
  line-height: $base-line-height * 2;
}

.post__divider {
  text-align: center;
  height: $base-line-height;
  line-height: $base-line-height;
  position: relative;
  margin-bottom: $base-line-height * 2;

  &:before {
    position: absolute;
    top: 50%;
    height: 1px;
    left: 0;
    right: 0;
    background: $color-border;
    content: "";
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    background: $color-bgd;
    box-shadow: rem(-10) 0 0 0 $color-bgd, rem(10) 0 0 0 $color-bgd;
  }
}

.post__content {

  margin-bottom: $base-line-height * 2;

  p {
  	@include type-setting(1);
  }

  hr {
    height: 1px;
    border: none;
    background: $color-border;
    margin: $base-v-margin*2 0;
  }

  p > code {
		font-weight: 500;
		border: 1px solid $color-faint-bgd;
		padding: 1px 4px;
		border-radius: $base-corner-radius / 2;
	}
}

.post__kudos {
  float: right;
  background: $color-bgd;
  border: 1px solid $color-border;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.06);
  font-size: 0;
  height: $base-line-height * 2;
  line-height: $base-line-height * 2;
  @include user-select(none);
  @include transition(all ease $duration-short);
  @include transform(translateZ(0));

  &.kudos-given {
    border-color: $base !important;
    background: $base;
  }

  &.is-loading {
    opacity: .5;
  }

  &:hover {
    border-color: $base;
    @include transform(scale(1.05) translateZ(0));
  }

  &:active {
    @include transform(scale(.95) translateZ(0));
  }
}

.post__kudos__label {
  color: $color-text;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid $color-border;
  @include type-setting(1);
  line-height: 1;
  padding: 0 10px;

  .kudos-given & {
    border-color: darken($base, 5%);
    color: $color-text-over-dark;
  }
}

.post__kudos__count {
  color: $color-text;
  display: inline-block;
  @include type-setting(0);
  font-weight: $base-font-weight-bold;
  padding: 0 10px;
  vertical-align: middle;
  font-family: $gotham;

  .kudos-given & {
    color: $color-text-over-dark;
  }
}
