
// this will generate a bem module

$_module_name: _unknown_;

@function element-selector($element-name) {
  @return ".#{$_module_name}__#{$element-name}";
}

@function submodule-selector($submodule-name) {
  @return ".#{$_module_name}--#{$submodule-name}";
}

@function module-name() {
  @return $_module_name;
}

@mixin module ($module-name) {
  $_module_name: $module-name !global;

  .#{$module-name} {
    @content;
  }
}

@mixin element ($element-name, $scope: 'descendent') {
  $selector: element-selector($element-name);

  @if $scope == 'descendent' {
    #{$selector} {
      @content;
    }
  }

  @else if $scope == 'child' {
    > #{$selector} {
      @content;
    }
  }

  @else if $scope == 'unify' {
    #{selector-unify(&, $element-name)} {
      @content;
    }
  }
}

@mixin submodule($submodule-name) {
  $selector: submodule-selector($submodule-name);

  &#{$selector} {
    @content;
  }
}
