.footer{

	background:$black url('../images/hero.png') center center no-repeat;
	margin-top:rhythm(2);
	@include box-shadow(inset 0 2px 4px rgba(0,0,0,.45));
	position: relative;
	.content{
		padding:rhythm(1);
		text-align: center;
	}
	p{
		margin-bottom: 0;
		color:$white;
	}

	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $black;
		opacity: .85;
	}

}