---
layout: default
---

<div class="post-spinner">
	<div class="spn">
    <div class="spn_spinner">
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
      <div class="spn_spinner_arm"></div>
    </div>
  </div>
</div>

<main class="is-solo">

	<div class="post" data-post-id="{{page.id}}">

		<a class="post__kudos no-kudos js-boom" href>
			<span class="post__kudos__label"><span class="fa fa-heart mr5"></span> <span class="post_kudos_label_text">👍</span></span>
			<span class="post__kudos__count">0</span>
		</a>

		<div class="post__meta">
			<p class="chiclet chiclet--{{ page.type }} post__chiclet">
				{{ page.type | uppercase }}
			</p>
			<p class="post__date">
				{{ page.date | date: '%B %d, %Y' }}
			</p>
		</div>
		<div class="post__content">
			<a name="post"></a>
			<h2 class="post__title">{{ page.title }}</h2>
			{% if page.tags %}
			<div class="tags post__tags">
				{% for tag in page.tags %}
				<div class="tags__tag">#{{ tag }}</div>
				{% endfor %}
			</div>
			{% endif %}
			<div class="bgd-underlines">
				{{ content }}
			</div>
		</div>
		<div class="post__divider">
			{% include svg/icon-16.svg %}
		</div>
		<div class="post__actions">

			{% if page.custom-button-url %}
			<a href="{{page.custom-button-url}}" class="button {{page.custom-button-class}}">{{page.custom-button-title}}</a>
			{% endif %}

			{% for button in page.custom_buttons %}
				<a href="{{button.url}}" class="button button--primary {{button.class}}">
					{% if button.fa %}
						<i class="fa fa-{{button.fa}}"></i>
					{% endif %}
					{{button.title}}
				</a>
			{% endfor %}

			{% capture share_url %}http://twitter.com/share?text={{page.title}}&url=http://{{site.domain}}{{page.url}}{% endcapture %}
			{% include button.html type="twitter" title="Share this" class="button--secondary" href=share_url target="_blank" %}

			<a class="post__kudos no-kudos js-boom" href>
				<span class="post__kudos__label"><span class="fa fa-heart mr5"></span> <span class="post_kudos_label_text">👍</span></span>
				<span class="post__kudos__count">0</span>
			</a>
		</div>

	</div> <!-- / .post-container -->
</main>
