---
layout: default
---

<div class="post-container" data-post-id="{{page.id}}">

	<a class="post_kudos no-kudos" href>
		<span class="post_kudos_label"><span class="fa fa-thumbs-up mr5"></span> <span class="post_kudos_label_text">Nice!</span></span>
		<span class="post_kudos_count">0</span>
	</a>

	<div class="meta">
		<div class="post-icon"></div>
		<p class="date">{{ page.date | date: '%B %d, %Y' }}</p>
	</div>
	<div class="post">
		<a name="post"></a>
		<h2>{{ page.title }}</h2>
		{% if page.tags %}
		<div class="tags">
			{% for tag in page.tags %}
			<div class="tags_tag">#{{ tag }}</div>
			{% endfor %}
		</div>
		{% endif %}
		{{ content }}
	</div>
	<div class="post-actions">
		{% if page.custom-button-url %}
		<a href="{{page.custom-button-url}}" class="button {{page.custom-button-class}}"><i class="fa fa-twitter"></i> {{page.custom-button-title}}</a>
		{% endif %}
		<a href="http://twitter.com/share?text={{page.title}}&url=http://{{site.domain}}{{page.url}}" class="button button-weak"><i class="fa fa-twitter"></i> Share on Twitter</a>
	</div>

</div> <!-- / .post-container -->
